file "$(CARS)/CARSApp/Db/vmirror_pid_control.db"
{
pattern
{P,      PID,           INP,                          OUT,  LOPR,  HOPR, DRVL, DRVH, PREC,     KP,   KI, KD,         SCAN, SHUT_STATUS}
{14IDA:, vmirror_pid1, "14IDB:EM1Position2", 14IDA:DAC1_4,   0,     10,    0,    10,   2,  0.008,  2.0, 0.,  ".1 second", PA:14ID:STA_A_FES_OPEN_PL.VAL}
}



