#14ID-EPS_2K10_3d-INP.template
file "$(CARS)/CARSApp/Db/14ID-EPS_2K10_3d-INP.db"
{
pattern
{P,     N,  	A,C,S, 	 ZSV,  	 OSV,     	 NAME}

{14IDA:,16,	0,2,0,	"MAJOR",	"NO_ALARM",	"IG0"}
{14IDA:,17,	0,2,1,	"MAJOR",	"NO_ALARM",	"IG1"}
{14IDA:,18,	0,2,2,	"MAJOR",	"NO_ALARM",	"IG2"}
{14IDA:,19,	0,2,3,	"MAJOR",	"NO_ALARM",	"IG3"}
{14IDA:,20,	0,2,4,	"MAJOR",  "NO_ALARM",	"IG4"}
{14IDA:,21,	0,2,5,	"MAJOR",	"NO_ALARM",	"IG5"}
{14IDA:,22,	0,2,6,	"MAJOR",	"NO_ALARM",	"IG6"}
{14IDA:,23,	0,2,7,	"MAJOR",	"NO_ALARM",	"IG7"}
{14IDA:,24,	0,2,8,	"MAJOR",	"NO_ALARM",	"IG8"}
{14IDA:,25,	0,2,9,	"MAJOR",	"NO_ALARM",	"IG9"}
{14IDA:,26,	0,2,10,	"MAJOR",	"NO_ALARM",	"Julich"}
{14IDA:,27,	0,2,11,	"MAJOR",	"NO_ALARM",	"WtLk"}
{14IDA:,28,	0,2,12,	"MAJOR",	"NO_ALARM",	"ChWF"}
{14IDA:,29,	0,2,13,	"MAJOR",	"NO_ALARM",	"ChTP"}
{14IDA:,30,	0,2,14,	"MAJOR",	"NO_ALARM",	"Hmdt"}
{14IDA:,31,	0,2,15,	"MAJOR",	"NO_ALARM",	"hSPD"}

{14IDA:,32,	0,4,0,	"MAJOR",	"NO_ALARM",	"TC0"}
{14IDA:,33,	0,4,1,	"MAJOR",	"NO_ALARM",	"TC1"}
{14IDA:,34,	0,4,2,	"MAJOR",	"NO_ALARM",	"TC2"}
{14IDA:,35,	0,4,3,	"MAJOR",	"NO_ALARM",	"TC3"}
{14IDA:,36,	0,4,4,	"MAJOR",	"NO_ALARM",	"TC4"}
{14IDA:,37,	0,4,5,	"MAJOR",	"NO_ALARM",	"TC5"}
{14IDA:,38,	0,4,6,	"MAJOR",	"NO_ALARM",	"TC6"}
{14IDA:,39,	0,4,7,	"MAJOR",	"NO_ALARM",	"TC7"}
{14IDA:,40,	0,4,8,	"MAJOR",	"NO_ALARM",	"TC8"}
{14IDA:,41,	0,4,9,	"MAJOR",	"NO_ALARM",	"TC9"}
{14IDA:,42,	0,4,10,	"MAJOR",	"NO_ALARM",	"TC10"}
{14IDA:,43,	0,4,11,	"MAJOR",	"NO_ALARM",	"TC11"}
{14IDA:,44,	0,4,12,	"MAJOR",	"NO_ALARM",	"TC12"}
{14IDA:,45,	0,4,13,	"MAJOR",	"NO_ALARM",	"TC13"}
{14IDA:,46,	0,4,14,	"MAJOR",	"NO_ALARM",	"TC14"}
{14IDA:,47,	0,4,15,	"MAJOR",	"NO_ALARM",    "TC15"}

{14IDA:,48,	0,6,0,	"MAJOR",	"NO_ALARM",	"WF0"}
{14IDA:,49,	0,6,1,	"MAJOR",	"NO_ALARM",	"WF1"}
{14IDA:,50,	0,6,2,	"MAJOR",	"NO_ALARM",	"WF2"}
{14IDA:,51,	0,6,3,	"MAJOR",	"NO_ALARM",	"WF3"}
{14IDA:,52,	0,6,4,	"MAJOR",	"NO_ALARM",	"WF4"}
{14IDA:,53,	0,6,5,	"MAJOR",	"NO_ALARM",	"WF5"}
{14IDA:,54,	0,6,6,	"MAJOR",	"NO_ALARM",	"WF6"}
{14IDA:,55,	0,6,7,	"MAJOR",	"NO_ALARM",	"WF7"}
{14IDA:,56,	0,6,8,	"MAJOR",	"NO_ALARM",	"WF8"}
{14IDA:,57,	0,6,9,	"MAJOR",	"NO_ALARM",	"WF9"}
{14IDA:,58,	0,6,10,	"MAJOR",	"NO_ALARM",	"WF10"}
{14IDA:,59,	0,6,11,	"MAJOR",	"NO_ALARM",	"ms-T"}
{14IDA:,60,	0,6,12,	"MAJOR",	"NO_ALARM",	"IFR"}
{14IDA:,61,	0,6,13,	"MAJOR",	"NO_ALARM",	"HpAir"}
{14IDA:,62,	0,6,14,	"MAJOR",	"NO_ALARM",	"LNF"}
{14IDA:,63,	0,6,15,	"MAJOR",	"NO_ALARM",	"LND"}

{14IDA:,64,	0,8,0,	"MAJOR",	"NO_ALARM",	"VO0"}
{14IDA:,65,	0,8,1,	"MAJOR",	"NO_ALARM",	"VO1"}
{14IDA:,66,	0,8,2,	"MAJOR",	"NO_ALARM",	"VO2"}
{14IDA:,67,	0,8,3,	"MAJOR",	"NO_ALARM",	"VO3"}
{14IDA:,68,	0,8,4,	"MAJOR",	"NO_ALARM",	"VO4"}
{14IDA:,69,	0,8,5,	"MAJOR",	"NO_ALARM",	"VO5"}
{14IDA:,70,	0,8,6,	"MAJOR",	"NO_ALARM",	"VO6"}
{14IDA:,71,	0,8,7,	"MAJOR",	"NO_ALARM",	"VO7"}
{14IDA:,72,	0,8,8,	"MAJOR",	"NO_ALARM",	"VO8"}
{14IDA:,73,	0,8,9,	"MAJOR",	"NO_ALARM",	"VO9"}
{14IDA:,74,	0,8,10,	"MAJOR",	"NO_ALARM",	"_sprV1"}
{14IDA:,75,	0,8,11,	"MAJOR",	"NO_ALARM",	"_sprV2"}
{14IDA:,76,	0,8,12,	"MAJOR",	"NO_ALARM",	"_sprV3"}
{14IDA:,77,	0,8,13,	"MAJOR",	"NO_ALARM",	"tSPD"}
{14IDA:,78,	0,8,14,	"MAJOR",	"NO_ALARM",	"HLS_airP"}
{14IDA:,79,	0,8,15,	"MAJOR",	"NO_ALARM",	"spr5"}

}