file "$(CARS)/CARSApp/Db/scanParms.db"
{
pattern  
{P,          SCANREC,    Q,                          POS,                    RDBK,         AR,         AFT,                      TPV,              DPV,    SP,   EP, NP,                           A,                            B,                  DET}
{14IDA:, 14IDB:scan1,   m1,                14IDA:m1.VAL,            14IDA:m1.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m2,                14IDA:m2.VAL,            14IDA:m2.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m3,                14IDA:m3.VAL,            14IDA:m3.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m4,                14IDA:m4.VAL,            14IDA:m4.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m5,                14IDA:m5.VAL,            14IDA:m5.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m6,                14IDA:m6.VAL,            14IDA:m6.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m7,                14IDA:m7.VAL,            14IDA:m7.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m8,                14IDA:m8.VAL,            14IDA:m8.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   m9,                14IDA:m9.VAL,            14IDA:m9.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m10,                14IDA:m10.VAL,           14IDA:m10.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m11,                14IDA:m11.VAL,           14IDA:m11.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "", -20.0, 20.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m12,                14IDA:m12.VAL,           14IDA:m12.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "", -30.0, 30.0,101,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m13,                14IDA:m13.VAL,           14IDA:m13.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m14,                14IDA:m14.VAL,           14IDA:m14.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m15,                14IDA:m15.VAL,           14IDA:m15.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  m16,                14IDA:m16.VAL,           14IDA:m16.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# IDC crate
{14IDC:, 14IDB:scan1,   m1,                 14IDC:m1.VAL,           14IDC:m1.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m2,                 14IDC:m2.VAL,           14IDC:m2.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m3,                 14IDC:m3.VAL,           14IDC:m3.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m4,                 14IDC:m4.VAL,           14IDC:m4.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m5,                 14IDC:m5.VAL,           14IDC:m5.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m6,                 14IDC:m6.VAL,           14IDC:m6.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m7,                 14IDC:m7.VAL,           14IDC:m7.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m8,                 14IDC:m8.VAL,           14IDC:m8.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,   m9,                 14IDC:m9.VAL,           14IDA:m9.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m10,                14IDC:m10.VAL,           14IDC:m10.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m11,                14IDC:m11.VAL,           14IDC:m11.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m12,                14IDC:m12.VAL,           14IDC:m12.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m13,                14IDC:m13.VAL,           14IDC:m13.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m14,                14IDC:m14.VAL,           14IDC:m14.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m15,                14IDC:m15.VAL,           14IDC:m15.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m16,                14IDC:m16.VAL,           14IDC:m16.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m17,                14IDC:m17.VAL,           14IDC:m17.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m18,                14IDC:m18.VAL,           14IDC:m18.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m19,                14IDC:m19.VAL,           14IDC:m19.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m20,                14IDC:m20.VAL,           14IDC:m20.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDC:, 14IDB:scan1,  m37,                14IDC:m37.VAL,           14IDC:m37.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m38,                14IDC:m38.VAL,           14IDC:m38.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m39,                14IDC:m39.VAL,           14IDC:m39.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m40,                14IDC:m40.VAL,           14IDC:m40.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDC:, 14IDB:scan1,  m41,                14IDC:m41.VAL,           14IDC:m41.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m42,                14IDC:m42.VAL,           14IDC:m42.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m43,                14IDC:m43.VAL,           14IDC:m43.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m44,                14IDC:m44.VAL,           14IDC:m44.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m45,                14IDC:m45.VAL,           14IDC:m45.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m46,                14IDC:m46.VAL,           14IDC:m46.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m47,                14IDC:m47.VAL,           14IDC:m47.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  m48,                14IDC:m48.VAL,           14IDC:m48.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}


# IDB crate
{14IDB:, 14IDB:scan1,   m1,                14IDB:m1.VAL,            14IDB:m1.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m2,                14IDB:m2.VAL,            14IDB:m2.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m3,                14IDB:m3.VAL,            14IDB:m3.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m4,                14IDB:m4.VAL,            14IDB:m4.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m5,                14IDB:m5.VAL,            14IDB:m5.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m6,                14IDB:m6.VAL,            14IDB:m6.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m7,                14IDB:m7.VAL,            14IDB:m7.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m8,                14IDB:m8.VAL,            14IDB:m8.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   m9,                14IDB:m9.VAL,            14IDB:m9.RBV,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m10,                14IDB:m10.VAL,           14IDB:m10.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m11,                14IDB:m11.VAL,           14IDB:m11.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m12,                14IDB:m12.VAL,           14IDB:m12.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0,101,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m13,                14IDB:m13.VAL,           14IDB:m13.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m14,                14IDB:m14.VAL,           14IDB:m14.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m15,                14IDB:m15.VAL,           14IDB:m15.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m16,                14IDB:m16.VAL,           14IDB:m16.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m17,                14IDB:m17.VAL,           14IDB:m17.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m18,                14IDB:m18.VAL,           14IDB:m18.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m19,                14IDB:m19.VAL,           14IDB:m19.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m20,                14IDB:m20.VAL,           14IDB:m20.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m21,                14IDB:m21.VAL,           14IDB:m21.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m22,                14IDB:m22.VAL,           14IDB:m22.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m23,                14IDB:m23.VAL,           14IDB:m23.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m24,                14IDB:m24.VAL,           14IDB:m24.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDB:, 14IDB:scan1,  m25,                14IDB:m25.VAL,           14IDB:m25.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m26,                14IDB:m26.VAL,           14IDB:m26.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m27,                14IDB:m27.VAL,           14IDB:m27.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m28,                14IDB:m28.VAL,           14IDB:m28.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# ALIO
{14IDB:, 14IDB:scan1,  m150,                14IDB:m150.VAL,           14IDB:m150.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m151,                14IDB:m151.VAL,           14IDB:m151.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m152,                14IDB:m152.VAL,           14IDB:m152.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m153,                14IDB:m153.VAL,           14IDB:m153.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.2,  0.2, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDB:, 14IDB:scan1, ESP300X,             14IDB:ESP300X.VAL,   14IDB:ESP300X.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1, ESP300Y,             14IDB:ESP300Y.VAL,   14IDB:ESP300Y.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1, ESP300Z,             14IDB:ESP300Z.VAL,   14IDB:ESP300Z.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Thorlab motors
{14IDB:, 14IDB:scan1,  m30,                14IDB:m30.VAL,           14IDB:m30.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m31,                14IDB:m31.VAL,           14IDB:m31.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m32,                14IDB:m32.VAL,           14IDB:m32.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m33,                14IDB:m33.VAL,           14IDB:m33.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m34,                14IDB:m34.VAL,           14IDB:m34.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  0.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m35,                14IDB:m35.VAL,           14IDB:m35.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.3,  0.3, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,  m36,                14IDB:m36.VAL,           14IDB:m36.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.3,  0.3, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDC:, 14IDB:scan1,  Table1X,            14IDC:table1.X,        14IDC:table1.EX, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "", -0.25, 0.25, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table1Y,            14IDC:table1.Y,        14IDC:table1.EY, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.1,  0.1, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table1Z,            14IDC:table1.Z,        14IDC:table1.EZ, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.1,  0.1, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table1AX,            14IDC:table1.AX,     14IDC:table1.EAX, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table1AY,            14IDC:table1.AY,     14IDC:table1.EAY, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table1AZ,            14IDC:table1.AZ,      14IDC:table1.EAZ, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDC:, 14IDB:scan1,  Table2X,            14IDC:table2.X,        14IDC:table2.EX, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "", -0.25, 0.25, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table2Y,            14IDC:table2.Y,        14IDC:table2.EY, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.1,  0.1, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table2Z,            14IDC:table2.Z,        14IDC:table2.EZ, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.1,  0.1, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table2AX,            14IDC:table2.AX,     14IDC:table2.EAX, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table2AY,            14IDC:table2.AY,     14IDC:table2.EAY, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Table2AZ,            14IDC:table2.AZ,     14IDC:table2.EAZ, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "", -0.002, 0.002, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Undulators
{14IDA:, 14IDB:scan1,  U23Eng,           14IDA:U23Eng.VAL,      14IDA:U23Eng.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  U23Gap,           14IDA:U23Gap.VAL,      14IDA:U23Gap.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  U27Eng,           14IDA:U27Eng.VAL,      14IDA:U27Eng.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  U27Gap,           14IDA:U27Gap.VAL,      14IDA:U27Gap.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}


# Individual blades on white slits but using combined motion record
{14IDA:, 14IDB:scan1,  Slit1Hp,        14IDA:Slit1Hxp.VAL,      14IDA:Slit1Ht2.A, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Hn,        14IDA:Slit1Hxn.VAL,      14IDA:Slit1Ht2.B, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Vp,        14IDA:Slit1Vxp.VAL,      14IDA:Slit1Vt2.A, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Vn,        14IDA:Slit1Vxn.VAL,      14IDA:Slit1Vt2.B, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",                "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Combined motion of white slits
{14IDA:, 14IDB:scan1,  Slit1Hsize,    14IDA:Slit1Hsize.VAL,      14IDA:Slit1Ht2.C, "ABSOLUTE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Hcenter,  14IDA:Slit1Hcenter.VAL,    14IDA:Slit1Ht2.D, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -1.0,  1.0, 81,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Vsize,    14IDA:Slit1Vsize.VAL,     14IDA:Slit1Vt2.C, "ABSOLUTE", "PRIOR POS",  "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  Slit1Vcenter,  14IDA:Slit1Vcenter.VAL,     14IDA:Slit1Vt2.D, "RELATIVE", "PRIOR POS","14IDB:waveSurfer:count",               "",  -1.0,  1.0, 81,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Kohzu State Notation
{14IDA:, 14IDB:scan1,      BraggE,      14IDA:BraggEAO.VAL,          14IDA:BraggERdbkAO, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0,101,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,  BraggTheta,  14IDA:BraggThetaAO.VAL,      14IDA:BraggThetaRdbkAO, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1, BraggLambda, 14IDA:BraggLambdaAO.VAL,     14IDA:BraggLambdaRdbkAO, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Combined motion of vertical mirror
{14IDC:, 14IDB:scan1,  mir1Y,                14IDC:mir1Y.VAL,           14IDC:mir1Y.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir1Th,              14IDC:mir1Th.VAL,           14IDC:mir1Th.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",        "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir1Chi,            14IDC:mir1Chi.VAL,           14IDC:mir1Chi.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",       "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir1X,                14IDC:mir1X.VAL,           14IDC:mir1X.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
# Combined motion of horizontal mirror
{14IDC:, 14IDB:scan1,  mir2Y,                14IDC:mir2Y.VAL,           14IDC:mir2Y.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir2Th,              14IDC:mir2Th.VAL,           14IDC:mir2Th.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",        "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir2Chi,            14IDC:mir2Chi.VAL,           14IDC:mir2Chi.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",       "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  mir2X,                14IDC:mir2X.VAL,           14IDC:mir2X.RBV, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",         "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Individual blades on pink slits but using combined motion record
{14IDC:, 14IDB:scan1,  Slit1Hp,         14IDC:Slit1Hxp.VAL,      14IDA:Slit1Ht2.A, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Hn,         14IDC:Slit1Hxn.VAL,      14IDA:Slit1Ht2.B, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Vp,         14IDC:Slit1Vxp.VAL,      14IDA:Slit1Vt2.A, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Vn,         14IDC:Slit1Vxn.VAL,      14IDA:Slit1Vt2.B, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

# Combined motion of pink slits
{14IDC:, 14IDB:scan1,  Slit1Hsize,    14IDC:Slit1Hsize.VAL,      14IDC:Slit1Ht2.C, "ABSOLUTE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Hcenter,  14IDC:Slit1Hcenter.VAL,      14IDC:Slit1Ht2.D, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "",  -1.5,  1.5, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Vsize,    14IDC:Slit1Vsize.VAL,      14IDC:Slit1Vt2.C, "ABSOLUTE", "PRIOR POS", "14IDB:waveSurfer:count",               "",  -0.5,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDC:, 14IDB:scan1,  Slit1Vcenter,  14IDC:Slit1Vcenter.VAL,      14IDC:Slit1Vt2.D, "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",             "",  -1.0,  1.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

#DAC's
{14IDA:, 14IDB:scan1,   DAC1_1,             14IDA:DAC1_1.VAL,      14IDA:DAC1_1.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_2,             14IDA:DAC1_2.VAL,      14IDA:DAC1_2.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_3,             14IDA:DAC1_3.VAL,      14IDA:DAC1_3.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_4,             14IDA:DAC1_4.VAL,      14IDA:DAC1_4.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_5,             14IDA:DAC1_5.VAL,      14IDA:DAC1_5.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_6,             14IDA:DAC1_6.VAL,      14IDA:DAC1_6.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_7,             14IDA:DAC1_7.VAL,      14IDA:DAC1_7.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDA:, 14IDB:scan1,   DAC1_8,             14IDA:DAC1_8.VAL,      14IDA:DAC1_8.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

{14IDB:, 14IDB:scan1,   DAC1_1,             14IDB:DAC1_1.VAL,      14IDB:DAC1_1.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_2,             14IDB:DAC1_2.VAL,      14IDB:DAC1_2.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_3,             14IDB:DAC1_3.VAL,      14IDB:DAC1_3.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_4,             14IDB:DAC1_4.VAL,      14IDB:DAC1_4.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_5,             14IDB:DAC1_5.VAL,      14IDB:DAC1_5.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_6,             14IDB:DAC1_6.VAL,      14IDB:DAC1_6.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_7,             14IDB:DAC1_7.VAL,      14IDB:DAC1_7.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}
{14IDB:, 14IDB:scan1,   DAC1_8,             14IDB:DAC1_8.VAL,      14IDB:DAC1_8.VAL,  "RELATIVE", "PRIOR POS", "14IDB:waveSurfer:count",            "",  -2.0,  2.0, 41,                          "", "14IDB:waveSurfer:triggerMode",                   ""}

#Energy scans
{14IDA:, 14IDB:scan1,      Se,      14IDA:BraggEAO.VAL,          14IDA:BraggERdbkAO, "ABSOLUTE", "+EDGE POS", "dxpSaturn:mca1EraseStart",       "",  12.64,  12.74, 101,          "14IDB:DAC1_1",               "14IDB:DAC1_1",     "dxpSaturn:mca1.R0"}
{14IDA:, 14IDB:scan1,      Pt,      14IDA:BraggEAO.VAL,          14IDA:BraggERdbkAO, "ABSOLUTE", "+EDGE POS", "dxpSaturn:mca1EraseStart",       "",  11.53,  11.61, 101,          "14IDB:DAC1_1",               "14IDB:DAC1_1",     "dxpSaturn:mca1.R0"}

# Channel cut scans
{14IDB:, 14IDB:scan1,  Energy_CC,     14IDB:Energy_CC.VAL,    14IDB:Energy_CC.RBV, "RELATIVE", "PRIOR POS",   "14IDB:waveSurfer:count",               "",   -1.0,  1.0, 101,                          "",                           "",                   ""}

# KB motions in IDB
#{14IDB:, 14IDB:scan1,        m49,           14IDB:m49.VAL,          14IDB:m49.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -150.0, 150.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m50,           14IDB:m50.VAL,          14IDB:m50.RBV, "RELATIVE", "PRIOR POS",                           "",               "",   -3.0,   3.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m51,           14IDB:m51.VAL,          14IDB:m51.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m52,           14IDB:m52.VAL,          14IDB:m52.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m53,           14IDB:m53.VAL,          14IDB:m53.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -150.0, 150.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m54,           14IDB:m54.VAL,          14IDB:m54.RBV, "RELATIVE", "PRIOR POS",                           "",               "",   -3.0,   3.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m55,           14IDB:m55.VAL,          14IDB:m55.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        m56,           14IDB:m56.VAL,          14IDB:m56.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        pm1,           14IDB:pm1.VAL,          14IDB:pm1.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        pm2,           14IDB:pm2.VAL,          14IDB:pm2.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        pm3,           14IDB:pm3.VAL,          14IDB:pm3.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
#{14IDB:, 14IDB:scan1,        pm4,           14IDB:pm4.VAL,          14IDB:pm4.RBV, "RELATIVE", "PRIOR POS",                           "",               "", -100.0, 100.0, 51,                          "",                           "",                   ""}
}
