file "$(CARS)/CARSApp/Db/DVX_2503.db"
{
pattern
{P,      R,      C,   S,  SCAN,  EGUL, LOPR,   EGUF, HOPR, PREC}
{14BMA:, DVX_1,  0,   0,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_2,  0,   1,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_3,  0,   2,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_4,  0,   3,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_5,  0,   4,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_6,  0,   5,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_7,  0,   6,   6,   -10.0, -10.0,  10.0,  10.0,   4}
{14BMA:, DVX_8,  0,   7,   6,   -10.0, -10.0,  10.0,  10.0,   4}
}
