file "$(ASYN)/db/asynRecord.db"
{
pattern
{P          R         PORT    ADDR    OMAX  IMAX}
{14BMA:     serial1   serial1    0     256  256}
{14BMA:     serial2   serial2    0     256  256}
{14BMA:     serial3   serial3    0     256  256}
{14BMA:     serial4   serial4    0     256  256}
{14BMA:     serial5   serial5    0     256  256}
{14BMA:     serial6   serial6    0     256  256}
{14BMA:     serial7   serial7    0     256  256}
{14BMA:     serial8   serial8    0     256  256}
}
