file ../../biocarsApp/Db/14ID-EPS_2K6_input.db
{
pattern
{P,	    N,	A,C,S,	 ZNAM,	  ZSV,	 ONAM,	  OSV,		DESC}
{14LAB:,220,	1,2,0,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF0"}
{14LAB:,221,	1,2,1,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF1"}
{14LAB:,222,	1,2,2,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF2"}
{14LAB:,223,	1,2,4,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF3"}
{14LAB:,224,	1,2,4,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF4"}
{14LAB:,225,	1,2,5,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF5"}
{14LAB:,226,	1,2,6,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF6"}
{14LAB:,227,	1,2,7,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF7"}
{14LAB:,228,	1,2,8,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF8"}
{14LAB:,229,	1,2,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF9"}
{14LAB:,230,	1,2,10,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF10"}
{14LAB:,231,	1,2,11,	"FAULT", 	"MAJOR",	"OK",	"NO_ALARM",	"WF11"}
{14LAB:,232,	1,2,12,	"NO",	"MAJOR",	"YES",	"NO_ALARM",	"FE-SHT_PRMT"}
{14LAB:,233,	1,2,13,	"NO",	"MAJOR",	"YES",	"NO_ALARM",	"FE_VLV_PRMT"}
{14LAB:,234,	1,2,14,	"NO",    "NO_ALARM","YES",	"MAJOR",		"FE-SHT CLSD"}
{14LAB:,235,	1,2,15,	"NO",    "NO_ALARM","YES",	"MAJOR",		"FE-VLV CLSD"}

{14LAB:,240,	1,4,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC0"}
{14LAB:,241,	1,4,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC1"}
{14LAB:,242,	1,4,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC2"}
{14LAB:,243,	1,4,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC3"}
{14LAB:,244,	1,4,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC4"}
{14LAB:,245,	1,4,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC5"}
{14LAB:,246,	1,4,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC6"}
{14LAB:,247,	1,4,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC7"}
{14LAB:,248,	1,4,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC8"}
{14LAB:,249,	1,4,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC9"}
{14LAB:,250,	1,4,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC10"}
{14LAB:,251,	1,4,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC11"}
{14LAB:,252,	1,4,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC12"}
{14LAB:,253,	1,4,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC13"}
{14LAB:,254,	1,4,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC14"}
{14LAB:,255,	1,4,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC15"}

{14LAB:,260,	1,6,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF0_OVRD"}
{14LAB:,261,	1,6,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF1_OVRD"}
{14LAB:,262,	1,6,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF2_OVRD"}
{14LAB:,263,	1,6,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF3_OVRD"}
{14LAB:,264,	1,6,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF4_OVRD"}
{14LAB:,265,	1,6,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF5_OVRD"}
{14LAB:,266,	1,6,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF6_OVRD"}
{14LAB:,267,	1,6,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF7_OVRD"}
{14LAB:,268,	1,6,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF8_OVRD"}
{14LAB:,269,	1,6,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF9_OVRD"}
{14LAB:,270,	1,6,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF10_OVRD"}
{14LAB:,271,	1,6,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF11_OVRD"}
{14LAB:,272,	1,6,12,	"NO",    "NO_ALARM","YES",	"MAJOR",		"         "}
{14LAB:,273,	1,6,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Reset-ABLE"}
{14LAB:,274,	1,6,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"APS ON"}
{14LAB:,275,	1,6,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"BEAM ON"}

{14LAB:,280,	1,8,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC0_OVRD"}
{14LAB:,281,	1,8,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC1_OVRD"}
{14LAB:,282,	1,8,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC2_OVRD"}
{14LAB:,283,	1,8,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC3_OVRD"}
{14LAB:,284,	1,8,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC4_OVRD"}
{14LAB:,285,	1,8,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC5_OVRD"}
{14LAB:,286,	1,8,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC6_OVRD"}
{14LAB:,287,	1,8,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC7_OVRD"}
{14LAB:,288,	1,8,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC8_OVRD"}
{14LAB:,289,	1,8,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC9_OVRD"}
{14LAB:,290,	1,8,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC10_OVRD"}
{14LAB:,291,	1,8,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC11_OVRD"}
{14LAB:,292,	1,8,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC12_OVRD"}
{14LAB:,293,	1,8,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC13_OVRD"}
{14LAB:,294,	1,8,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC14_OVRD"}
{14LAB:,295,	1,8,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC15_OVRD"}

{14LAB:,300,	1,10,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF0_LTCHD"}
{14LAB:,301,	1,10,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF1_LTCHD"}
{14LAB:,302,	1,10,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF2_LTCHD"}
{14LAB:,303,	1,10,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF3_LTCHD"}
{14LAB:,304,	1,10,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF4_LTCHD"}
{14LAB:,305,	1,10,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF5_LTCHD"}
{14LAB:,306,	1,10,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF6_LTCHD"}
{14LAB:,307,	1,10,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF7_LTCHD"}
{14LAB:,308,	1,10,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF8_LTCHD"}
{14LAB:,309,	1,10,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF9_LTCHD"}
{14LAB:,310,	1,10,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF10_LTCHD"}
{14LAB:,311,	1,10,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WF11_LTCHD"}
{14LAB:,312,	1,10,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"PLC_RUN_OK"}
{14LAB:,313,	1,10,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"PLC_NO_FORCE"}
{14LAB:,314,	1,10,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"PLC_Battery_OK"}
{14LAB:,315,	1,10,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"OSC_"}

{14LAB:,320,	1,12,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC0_LTCHD"}
{14LAB:,321,	1,12,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC1_LTCHD"}
{14LAB:,322,	1,12,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC2_LTCHD"}
{14LAB:,323,	1,12,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC3_LTCHD"}
{14LAB:,324,	1,12,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC4_LTCHD"}
{14LAB:,325,	1,12,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC5_LTCHD"}
{14LAB:,326,	1,12,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC6_LTCHD"}
{14LAB:,327,	1,12,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC7_LTCHD"}
{14LAB:,328,	1,12,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC8_LTCHD"}
{14LAB:,329,	1,12,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC9_LTCHD"}
{14LAB:,330,	1,12,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC10_LTCHD"}
{14LAB:,331,	1,12,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC11_LTCHD"}
{14LAB:,332,	1,12,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC12_LTCHD"}
{14LAB:,333,	1,12,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC13_LTCHD"}
{14LAB:,334,	1,12,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC14_LTCHD"}
{14LAB:,335,	1,12,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TC15_LTCHD"}

{14LAB:,340,	1,14,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt0"}
{14LAB:,341,	1,14,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt1"}
{14LAB:,342,	1,14,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt2"}
{14LAB:,343,	1,14,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt3"}
{14LAB:,344,	1,14,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt4"}
{14LAB:,345,	1,14,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt5"}
{14LAB:,346,	1,14,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt6"}
{14LAB:,347,	1,14,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt7"}
{14LAB:,348,	1,14,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt8"}
{14LAB:,349,	1,14,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt9"}
{14LAB:,350,	1,14,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt10"}
{14LAB:,351,	1,14,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt11"}
{14LAB:,352,	1,14,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt12"}
{14LAB:,353,	1,14,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt13"}
{14LAB:,354,	1,14,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt14"}
{14LAB:,355,	1,14,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_SP-Bt15"}
}
