file ../../biocarsApp/Db/14ID-EPS_2K6_input.db
{
pattern
{P,     N,  	A,C,S, 	 ZNAM,  	 ZSV,  	 ONAM,      OSV,     	 DESC}
{14LAB:,20,	0,2,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG0"}
{14LAB:,21,	0,2,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG1"}
{14LAB:,22,	0,2,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG2"}
{14LAB:,23,	0,2,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG3"}
{14LAB:,24,	0,2,4,	"FAULT", 	"MAJOR",  "OK",	"NO_ALARM",	"IG4"}
{14LAB:,25,	0,2,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG5"}
{14LAB:,26,	0,2,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG6"}
{14LAB:,27,	0,2,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG7"}
{14LAB:,28,	0,2,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG8"}
{14LAB:,29,	0,2,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG9"}
{14LAB:,30,	0,2,10,	"FAULT",	"MAJOR",	"UP",	"NO_ALARM",	"T-STOP-A MONO"}
{14LAB:,31,	0,2,11,	"FAULT",	"MAJOR",	"DN",	"NO_ALARM",	"T-STOP-A PINK"}
{14LAB:,32,	0,2,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"T-STOP-A LOCKED"}
{14LAB:,33,	0,2,13,	"FAULT",	"MAJOR",	"UP",	"NO_ALARM",	"T-STOP-B MONO"}
{14LAB:,34,	0,2,14,	"FAULT",	"MAJOR",	"DN",	"NO_ALARM",	"T-STOP-B PINK"}
{14LAB:,35,	0,2,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"T-STOP-B LOCKED"}

{14LAB:,40,	0,4,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO0"}
{14LAB:,41,	0,4,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO1"}
{14LAB:,42,	0,4,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO2"}
{14LAB:,43,	0,4,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO3"}
{14LAB:,44,	0,4,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO4"}
{14LAB:,45,	0,4,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO5"}
{14LAB:,46,	0,4,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO6"}
{14LAB:,47,	0,4,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO7"}
{14LAB:,48,	0,4,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO8"}
{14LAB:,49,	0,4,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO9"}
{14LAB:,50,	0,4,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Cmprsd-Air_Stat"}
{14LAB:,51,	0,4,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Liquid-N2_Stat"}
{14LAB:,52,	0,4,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Cmprsd-Air_OVRD"}
{14LAB:,53,	0,4,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Liquid-N2_OVRD"}
{14LAB:,54,	0,4,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Cmprsd-Air_LTHD"}
{14LAB:,55,	0,4,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"Liquid-N2_LTHD"}

{14LAB:,60,	0,6,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG0_OVRD"}
{14LAB:,61,	0,6,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG1_OVRD"}
{14LAB:,62,	0,6,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG2_OVRD"}
{14LAB:,63,	0,6,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG3_OVRD"}
{14LAB:,64,	0,6,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG4_OVRD"}
{14LAB:,65,	0,6,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG5_OVRD"}
{14LAB:,66,	0,6,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG6_OVRD"}
{14LAB:,67,	0,6,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG7_OVRD"}
{14LAB:,68,	0,6,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG8_OVRD"}
{14LAB:,69,	0,6,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG9_OVRD"}
{14LAB:,70,	0,6,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"STOP-A MONO_OVRD"}
{14LAB:,71,	0,6,11,	"FAULT",  "MAJOR",	"OK",	"NO_ALARM",	"STOP-A PINK_OVRD"}
{14LAB:,72,	0,6,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"STOP-A LOCK_OVRD"}
{14LAB:,73,	0,6,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"STOP-B MONO_OVRD"}
{14LAB:,74,	0,6,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"STOP-B PINK_OVRD"}
{14LAB:,75,	0,6,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"STOP-B LOCK_OVRD"}

{14LAB:,80,	0,8,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO0_OVRD"}
{14LAB:,81,	0,8,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO1_OVRD"}
{14LAB:,82,	0,8,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO2_OVRD"}
{14LAB:,83,	0,8,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO3_OVRD"}
{14LAB:,84,	0,8,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO4_OVRD"}
{14LAB:,85,	0,8,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO5_OVRD"}
{14LAB:,86,	0,8,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO6_OVRD"}
{14LAB:,87,	0,8,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO7_OVRD"}
{14LAB:,88,	0,8,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO8_OVRD"}
{14LAB:,89,	0,8,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"VO9_OVRD"}
{14LAB:,90,	0,8,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"MONO MODE"}
{14LAB:,91,	0,8,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"PINK MODE"}
{14LAB:,92,	0,8,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"WHITE MODE"}
{14LAB:,93,	0,8,13,	"OK",	"NO_ALARM","FAULT",	"MAJOR",		"MDset-Cnflct"}
{14LAB:,94,	0,8,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"          "}
{14LAB:,95,	0,8,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"          "}

{14LAB:,100,	0,10,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG0_LTCHD"}
{14LAB:,101,	0,10,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG1_LTCHD"}
{14LAB:,102,	0,10,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG2_LTCHD"}
{14LAB:,103,	0,10,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG3_LTCHD"}
{14LAB:,104,	0,10,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG4_LTCHD"}
{14LAB:,105,	0,10,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG5_LTCHD"}
{14LAB:,106,	0,10,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG6_LTCHD"}
{14LAB:,107,	0,10,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG7_LTCHD"}
{14LAB:,108,	0,10,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG8_LTCHD"}
{14LAB:,109,	0,10,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"IG9_LTCHD"}
{14LAB:,110,	0,10,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"PZ-PWR_ON"}
{14LAB:,111,	0,10,11,	"NO",   "NO_ALARM",	"YES",	"MAJOR", 		"Emulating"}
{14LAB:,112,	0,10,12,	"NO",   "NO_ALARM",	"YES",	"MINOR",  	"ADM mode "}
{14LAB:,113,	0,10,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"NO FAULT"}
{14LAB:,114,	0,10,14,	"NO",   "NO_ALARM","FAULT",	"MAJOR",		"MAJOR FAULT"}
{14LAB:,115,	0,10,15,	"NO",   "NO_ALARM","FAULT",	"MINOR",		"MINOR FAULT"}

{14LAB:,120,	0,12,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Catgr0"}
{14LAB:,121,	0,12,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Catgr1"}
{14LAB:,122,	0,12,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Catgr2"}
{14LAB:,123,	0,12,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Catgr3"}
{14LAB:,124,	0,12,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Index0"}
{14LAB:,125,	0,12,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Index1"}
{14LAB:,126,	0,12,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Index2"}
{14LAB:,127,	0,12,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_Index3"}
{14LAB:,128,	0,12,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TRGT_STATUS"}
{14LAB:,129,	0,12,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TRGT_OVRD"}
{14LAB:,130,	0,12,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TRGT_LTCHD"}
{14LAB:,131,	0,12,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_VO_PRMT"}
{14LAB:,132,	0,12,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_VC_PRMT"}
{14LAB:,133,	0,12,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"         "}
{14LAB:,134,	0,12,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"         "}
{14LAB:,135,	0,12,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT Selected"}

{14LAB:,140,	0,14,0,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ0"}
{14LAB:,141,	0,14,1,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ1"}
{14LAB:,142,	0,14,2,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ2"}
{14LAB:,143,	0,14,3,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ3"}
{14LAB:,144,	0,14,4,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ4"}
{14LAB:,145,	0,14,5,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ5"}
{14LAB:,146,	0,14,6,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ6"}
{14LAB:,147,	0,14,7,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ7"}
{14LAB:,148,	0,14,8,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ8"}
{14LAB:,149,	0,14,9,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ9"}
{14LAB:,150,	0,14,10,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ10"}
{14LAB:,151,	0,14,11,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ11"}
{14LAB:,152,	0,14,12,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ12"}
{14LAB:,153,	0,14,13,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ13"}
{14LAB:,154,	0,14,14,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ14"}
{14LAB:,155,	0,14,15,	"FAULT",	"MAJOR",	"OK",	"NO_ALARM",	"TGT_READ15"}
}
