#14LAB-EPS_2K9_buttons.template

# -- operation request & permission related to each button

file ../../CARSApp/Db/14LAB-EPS_2K9_buttons.db
{
pattern
 {  P,   A_PRMT,C_PRMT,S_PRMT,A_RQ,C_RQ,S_RQ,  NAME,  	     	  ACTION           }
 
 {14LAB:, 0,     12,     14,   0,   11,  14, "Close_FES",   "Kill FES-PRMT"        }
 {14LAB:, 0, 	 12,     2,    0,   11,  15, "Reset",	    "Reset EPS"            }
 {14LAB:, 0,	 14,     11,   0,   11,  5,  "Open_Vlv",    "Open TGT Valve"       }
 {14LAB:, 0,     14,     12,   0,   11,  6,  "Close_Vlv",   "Close TGT Valve"      }
 {14LAB:, 0,	 14,     11,   0,   11,  7,  "Confirm_Vopn","Confirm to open Valve"}
 {14LAB:, 0,     12,     2,    0,   11,  8,  "Cancel_Vopn", "Cancel openning Valve"}
 {14LAB:, 0,	 12,     2,    0,   11,  12,  "apply_ADM",  "apply for vlvOP right"}
 {14LAB:, 0,     12,     2,    0,   11,  13,  "quit_ADM",   "quit vlvOP right"      }

}

#	The condition under which the ACTION by the button is permisible:
#
#	              Condition 		Button Name
# 
#			   FES PRMT		"Close FES"
#			   Resetable		"Reset"	
#			TGT_VLV_Opn_PRMT	"Open_Vlv"
#			TGT_VLV_Cls_PRMT	"Close_Vlv"
#			TGT_VLV_Opn_PRMT	"Confirm_Vopn"
#			TGT_VLV_Opn_PRMT	"Cancel_Vopn"
#			 
	

	
